.App {
  text-align: center;
  /* background-color: green; */
  /* border-bottom: 1px solid black; */
}

.App > * {
  width: 100%;
}

.Header {
  background-color: green;
}

.Content {
  background-color: rgb(191, 191, 199);
}

.Header > h1 {
  color: rgb(59, 44, 44);
  /* margin-top: 0px; */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Content > div > * {
  margin: 10px 0;
}

.Chart {
  padding: 100px;
  background-color: coral;
}

.inputs {
  flex-direction: row;
}

.inputs > * {
  margin: 0 10px;
}
